<section class="tab description" data-group="primary" data-tab="description">
  <div class="editor-container editor-container--tall">
    {{editor enrichedDescription target="system.description"
             button=true editable=true}}
  </div>
</section>
