{{!-- Movement Speed + Size category: 2 target buttons + builder controls --}}
<div class="ec-button-grid ec-button-grid--movement">
  <button type="button"
          class="ec-pick-btn {{#if movSelected}}selected{{/if}}"
          data-action="pickTarget"
          data-category="movement"
          data-target-key="mov"
          data-tooltip="{{localize 'SHARDS.EffectCreator.MovSpeed'}}">
    <i class="fa-solid fa-person-running"></i>
    <span class="ec-pick-btn__label">{{localize "SHARDS.EffectCreator.MovSpeed"}}</span>
  </button>
  <button type="button"
          class="ec-pick-btn {{#if sizeSelected}}selected{{/if}}"
          data-action="pickTarget"
          data-category="movement"
          data-target-key="size"
          data-tooltip="{{localize 'SHARDS.Size'}}">
    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
    <span class="ec-pick-btn__label">{{localize "SHARDS.Size"}}</span>
  </button>
</div>

{{> "systems/shards-of-mana/templates/apps/ec-parts/ec-builder-controls.hbs" categoryId="movement"}}
