<section class="tab biography" data-group="primary" data-tab="biography">
  <div class="editor-container">
    {{editor enrichedBiography target="system.biography" button=true editable=true}}
  </div>
</section>
