<section class="tab effects {{tab.cssClass}}" data-group="primary" data-tab="effects">

  {{!-- Active Effects Panel --}}
  {{> "systems/shards-of-mana/templates/items/parts/item-effects.hbs"}}

</section>
