<div class="shards-chat-card shards-lb-ready-card" data-theme="{{theme}}">
  <div class="shards-lb-ready-card__inner">
    <img class="shards-lb-ready-card__portrait" src="{{actorImg}}" width="48" height="48" />
    <div class="shards-lb-ready-card__content">
      <div class="shards-lb-ready-card__title">{{localize "SHARDS.LimitBreak.ReadyTitle"}}</div>
      <div class="shards-lb-ready-card__name">{{actorName}}</div>
    </div>
    <i class="fa-solid fa-fire shards-lb-ready-card__icon"></i>
  </div>
</div>
