<section class="item-body">

  {{!-- Description --}}
  <div class="editor-container">
    {{editor enrichedDescription target="system.description" button=true editable=true}}
  </div>

  {{!-- Active Effects Panel --}}
  {{> "systems/shards-of-mana/templates/items/parts/item-effects.hbs"}}

</section>
